.main-chat-contacts{
    padding-left: 0;
}
.main-chat-contacts .main-img-user{
    margin-right:10px;
}
.main-chat-contacts-more{
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
}
// @media (min-width:992px){
//     .main-chat-footer .nav-link {
//         margin-left: 10px;
//     }
//     .main-chat-footer .nav-link:first-child {
//         margin-left: 0;
//     }
// }

