<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0">User List 02</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fe fe-grid mr-2 fs-14"></i>Apps</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User List</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)">User List 02</a></li>
        </ol>
    </div>
    <div class="page-rightheader">
        <div class="btn btn-list">
            <a href="javascript:void(0)" class="btn btn-info"><i class="fe fe-settings mr-1"></i> General Settings </a>
            <a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-printer mr-1"></i> Print </a>
            <a href="javascript:void(0)" class="btn btn-warning"><i class="fe fe-shopping-cart mr-1"></i> Buy Now </a>
        </div>
    </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row flex-lg-nowrap">
    <div class="col-12">
        <div class="row flex-lg-nowrap">
            <div class="col-12 mb-3">
                <div class="e-panel card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 mb-4">
                                <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-plus"></i> Add New User</a>
                            </div>
                            <div class="col-6 col-auto">
                                <div class="form-group">
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fe fe-search"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Search User">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6" *ngFor="let userdata of UserlistData">
                                <div class="d-sm-flex align-items-center border p-3 mb-3 br-7">
                                    <div class="avatar avatar-lg brround d-block cover-image">
                                        <img src="{{userdata.img}}" alt="">
                                    </div>
                                    <div class="wrapper ml-sm-3  mt-4 mt-sm-0">
                                        <p class="mb-0 mt-1 text-dark font-weight-semibold">{{userdata.name}}</p>
                                        <small class="text-muted">{{userdata.designation}}</small>
                                    </div>
                                    <div class="float-sm-right ml-auto mt-4 mt-sm-0">
                                        <a href="javascript:void(0)" class="btn btn-outline-secondary">Message</a>
                                        <a href="javascript:void(0)" class="btn btn-primary">View Profile</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->