.credentials {
  background: #705ec8;
  color: #ffffff;
  padding: 25px 20px;
  border-radius: 6px;
}
.custom-control-input {
  left: 1px;
  top: 6px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}



