<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0">Form Editor</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fe fe-file-text mr-2 fs-14"></i>Forms</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)"></a>Form Editor</li>
        </ol>
    </div>
    <div class="page-rightheader">
        <div class="btn btn-list">
            <a href="javascript:void(0)" class="btn btn-info"><i class="fe fe-settings mr-1"></i> General Settings </a>
            <a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-printer mr-1"></i> Print </a>
            <a href="javascript:void(0)" class="btn btn-warning"><i class="fe fe-shopping-cart mr-1"></i> Buy Now </a>
        </div>
    </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row row-cards">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ck Editor</h3>
            </div>
            <div class="card-body">
                <!-- <ck-editor name="editor1" [(ngModel)]="ckEditor" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor> -->
                <ckeditor [editor]="Editor" data="<p>Hello world!</p>" skin="moono-lisa" language="en"
                    (ready)="onReady($event)"></ckeditor>
            </div>
        </div>
    </div>

</div>
<!-- End Row -->

<!-- Row -->
<div class="row ">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">KolKov Editor</div>
            </div>
            <div class="card-body">
                <angular-editor [placeholder]="'Enter text here...'" [config]="config"></angular-editor>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<!-- Row -->
<div class="row ">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Form Editor in Modal
                </div>
            </div>
            <div class="card-body">
                <div class="text-center p-4 bg-light border">
                    <button type="button" class="btn btn-primary" (click)="OpenEditor(editormodal)">View Live
                        Demo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<!--Modal-->

<ng-template #editormodal let-modal>
    <div class="modal-header">
        <h6 class="modal-title">Create New Document</h6>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <angular-editor [config]="config"></angular-editor>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button">Save changes</button>
        <button class="btn btn-secondary" type="button" (click)="modal.close('Close click')">Cancel</button>
    </div>
</ng-template>
<!--/Modal-->