<div class="app sidebar-mini" [class.sidenav-toggled]="navServices.collapseSidebar">

    <div class="page">
        <div class="page-main">

            <!--aside open-->
            <app-sidebar></app-sidebar>
            <!--aside closed-->

            <!-- App-Content -->
            <div class="app-content main-content">
                <div class="side-app">

                    <!--app header-->
                    <app-header></app-header>
                    <!--/app header-->

                    <router-outlet></router-outlet>

                </div>
            </div>
            <!-- End app-content-->
        </div>

        <!--Footer-->
        <app-footer></app-footer>
        <!-- End Footer-->

    </div>

</div>