<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0">Contact list 01</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fe fe-grid mr-2 fs-14"></i>Apps</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Contact list</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)">Contact list 01</a></li>
        </ol>
    </div>
    <div class="page-rightheader">
        <div class="btn btn-list">
            <a href="javascript:void(0)" class="btn btn-info"><i class="fe fe-settings mr-1"></i> General Settings </a>
            <a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-printer mr-1"></i> Print </a>
            <a href="javascript:void(0)" class="btn btn-warning"><i class="fe fe-shopping-cart mr-1"></i> Buy Now </a>
        </div>
    </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row flex-lg-nowrap">
    <div class="col-12">
        <div class="row flex-lg-nowrap">
            <div class="col-12 mb-3">
                <div class="">
                    <div class="">
                        <div class="row">
                            <div class="col-6 mb-4">
                                <a class="btn btn-primary" (click)="addContactModel(addContactModal)"><i class="fe fe-plus"></i> Add New Contact</a>
                            </div>
                            <div class="col-6 col-auto">
                                <div class="form-group ml-auto">
                                    <div class="input-icon">
                                        <span class="input-icon-addon">
                                            <i class="fe fe-search"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Search Contact">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-6" *ngFor="let data of contactData">
                                <div class="card text-center user-contact-list">
                                    <div class="p-5">
                                        <div class="avatar avatar-xxl brround d-block cover-image mx-auto">
                                            <img src="{{data.img}}">
                                        </div>
                                        <div class="wrapper mt-3">
                                            <p class="mb-0 mt-1 text-dark font-weight-semibold">{{data.name}}</p>
                                            <small class="text-muted">{{data.designation}}</small>
                                            <p class="text-muted text-center mt-2">Lorem Ipsum is not simply random text
                                                to popular belief Contrary Nemo enim ipsam voluptatem quia voluptas sit
                                                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.</p>
                                        </div>
                                        <div class="">
                                            <a class="btn btn-white btn-svgs mt-5" href="javascript:void(0)"><i
                                                    class="las la-comment fs-20 mr-2"></i> Message</a>
                                            <a class="btn btn-light btn-svgs mt-5" href="javascript:void(0)"><i
                                                    class="las la-user-circle fs-20 mr-2"></i> Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- User Form Modal -->

        <ng-template #addContactModal let-modal>
            <div class="modal-header">
                <h5 class="modal-title">Create User</h5>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="py-1">
                    <form class="form" novalidate="">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Full Name</label>
                                            <input class="form-control" type="text" name="name"
                                                placeholder="John Smith" value="John Smith">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input class="form-control" type="text" name="username"
                                                placeholder="johnny.s" value="johnny.s">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control" type="text"
                                                placeholder="user@example.com">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col mb-3">
                                        <div class="form-group">
                                            <label>About</label>
                                            <textarea class="form-control" rows="5"
                                                placeholder="My Bio"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-3">
                                <div class="mb-2"><b>Change Password</b></div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Current Password</label>
                                            <input class="form-control" type="password" placeholder="••••••">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>New Password</label>
                                            <input class="form-control" type="password" placeholder="••••••">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Confirm <span
                                                    class="d-none d-xl-inline">Password</span></label>
                                            <input class="form-control" type="password" placeholder="••••••">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                <div class="mb-2"><b>Keeping in Touch</b></div>
                                <div class="row">
                                    <div class="col">
                                        <label>Email Notifications</label>
                                        <div class="custom-controls-stacked px-2">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="notifications-blog" checked="">
                                                <label class="custom-control-label"
                                                    for="notifications-blog">Blog posts</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="notifications-news" checked="">
                                                <label class="custom-control-label"
                                                    for="notifications-news">Newsletter</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                    id="notifications-offers" checked="">
                                                <label class="custom-control-label"
                                                    for="notifications-offers">Personal Offers</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-end">
                                <button class="btn btn-primary" type="submit">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </ng-template>

    </div>
</div>
<!-- End Row -->