<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0">Tooltip</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fe fe-server mr-2 fs-14"></i>Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)">Tooltip</a></li>
        </ol>
    </div>
    <div class="page-rightheader">
        <div class="btn btn-list">
            <a href="javascript:void(0)" class="btn btn-info"><i class="fe fe-settings mr-1"></i> General Settings </a>
            <a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-printer mr-1"></i> Print </a>
            <a href="javascript:void(0)" class="btn btn-warning"><i class="fe fe-shopping-cart mr-1"></i> Buy Now </a>
        </div>
    </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <!-- div -->
        <div class="card" id="Tooltip">
            <div class="card-header">
                <div class="card-title">
                    Default Tooltip
                </div>
            </div>
            <div class="card-body">
                <div class="form-label mb-2">
                    Static Example
                </div>
                <div class="tooltip-static-demo mb-4 border br-3">
                    <div class="row ">
                        <div class="col-sm-6 col-lg-3">
                            <div class="tooltip bs-tooltip-top" role="tooltip">
                                <div class="arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the top
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mg-t-30 mg-sm-t-0">
                            <div class="tooltip bs-tooltip-bottom" role="tooltip">
                                <div class="arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the bottom
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mg-t-30 mg-lg-t-0">
                            <div class="tooltip bs-tooltip-left" role="tooltip">
                                <div class="arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the left
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mg-t-30 mg-lg-t-0">
                            <div class="tooltip bs-tooltip-right" role="tooltip">
                                <div class="arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the right
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- tooltip-static-demo -->
                <div class="form-label mb-2">
                    Example
                </div>
                <div class="bg-light px-4 pt-4 pb-2 border br-3">
                    <div class="row  text-center">
                        <div class="col-sm-6 col-lg-3 mb-3">
                            <button class="btn btn-secondary" placement="top" ngbTooltip="Tooltip on top"
                                type="button">Hover me</button>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-3">
                            <button class="btn btn-secondary" placement="bottom" ngbTooltip="Tooltip on bottom"
                                type="button">Hover me</button>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-3">
                            <button class="btn btn-secondary" placement="left" ngbTooltip="Tooltip on left"
                                type="button">Hover me</button>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-3">
                            <button class="btn btn-secondary" placement="right" ngbTooltip="Tooltip on right"
                                type="button">Hover me</button>
                        </div>
                    </div>
                </div>
            </div>

            <!---Prism Pre code-->
            <figure class="highlight mb-0" id="element1">
                <ul ngbNav #nav1="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="html-code"><i class="las la-code mr-2"></i> HTML</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="html1"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="html1" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="html-code">TS</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="ts1"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="ts1" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav1"></div>
                
                
            </figure>
            <!---Prism Pre code-->
        </div>
        <!-- /div -->
        <!-- div -->
        <div class="card" id="Tooltip1">
            <div class="card-header">
                <div class="card-title">
                    Color Tooltip
                </div>
            </div>
            <div class="card-body">
                <div class="form-label  mb-2">
                    Static Example
                </div>
                <div class="tooltip-static-demo mb-4 border br-3">
                    <div class="row ">
                        <div class="col-sm-6 col-lg-3">
                            <div class="tooltip tooltip-primary bs-tooltip-top" role="tooltip">
                                <div class="arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the top
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mg-t-30 mg-sm-t-0">
                            <div class="tooltip tooltip-primary bs-tooltip-bottom" role="tooltip">
                                <div class="arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the bottom
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mg-t-30 mg-lg-t-0">
                            <div class="tooltip tooltip-primary bs-tooltip-left" role="tooltip">
                                <div class="arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the left
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mg-t-30 mg-lg-t-0">
                            <div class="tooltip tooltip-primary bs-tooltip-right" role="tooltip">
                                <div class="arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the right
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- tooltip-static-demo -->
                <div class="form-label mb-2">
                    Example
                </div>
                <div class="bg-light px-4 pt-4 pb-2 border br-3">
                    <div class="row  text-center">
                        <div class="col-sm-6 col-lg-3 mb-3">
                            <button class="btn btn-secondary" 
                                ngbTooltip="Tooltip on top" type="button" tooltipClass="my-custom-class">Hover me</button>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-3">
                            <button class="btn btn-secondary" placement="bottom"
                                ngbTooltip="Tooltip on bottom" type="button" tooltipClass="my-custom-class">Hover me</button>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-3">
                            <button class="btn btn-secondary" placement="left"
                                ngbTooltip="Tooltip on left" type="button" tooltipClass="my-custom-class">Hover me</button>
                        </div>
                        <div class="col-sm-6 col-lg-3 mb-3">
                            <button class="btn btn-secondary" placement="right"
                                ngbTooltip="Tooltip on right" type="button" tooltipClass="my-custom-class">Hover me</button>
                        </div>
                    </div>
                </div>
            </div>

            <!---Prism Pre code-->
            <figure class="highlight mb-0" id="element1">
                <ul ngbNav #nav2="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="html-code"><i class="las la-code mr-2"></i> HTML</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="html2"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="html2" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="html-code">TS</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="ts2"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="ts2" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav2"></div>
                
                
            </figure>
            <!---Prism Pre code-->
        </div>
        <!-- /div -->
    </div>
</div>
<!-- End Row -->