::ng-deep {
    input {
        margin-bottom: 16px;
    }

    .cmyk-text {
        float: left;

        width: 72px;
        height: 72px;

        font-weight: bolder;
        line-height: 72px;
        text-align: center;
        text-shadow: 1px 1px 2px #bbb;
    }

    .color-box {
        width: 100px;
        height: 25px;
        margin: 16px auto;

        cursor: pointer;
    }

    .change-me {
        cursor: pointer;
        font-size: 30px;
        font-weight: bolder;
    }
    input{
        outline: 0;
        border: 0px solid #e3e4e9;
        border-radius: .25rem;
        padding: 0.375rem 0.75rem;
        color: #fff;
        cursor: pointer;
    }
    .color-picker{
        border: 1px solid #e3e4e9 !important;
        border-radius: .25rem;
        z-index: 100 !important;
    }
    @media(max-width: 1024px){
        .color-box{
            display: none;
        }
    }
}
