<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0">Carousel</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fe fe-server mr-2 fs-14"></i>Elements</a>
            </li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Carousel</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)">Carousel 01</a></li>
        </ol>
    </div>
    <div class="page-rightheader">
        <div class="btn btn-list">
            <a href="javascript:void(0)" class="btn btn-info"><i class="fe fe-settings mr-1"></i> General Settings </a>
            <a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-printer mr-1"></i> Print </a>
            <a href="javascript:void(0)" class="btn btn-warning"><i class="fe fe-shopping-cart mr-1"></i> Buy Now </a>
        </div>
    </div>
</div>
<!--End Page header-->

<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Carousel</h3>
            </div>
            <div class="card-body">
                <ngb-carousel>
                    <ng-template ngbSlide *ngFor="let caroImg of carouselImages">
                        <img class="d-block w-100" src="{{caroImg.img}}" alt="">
                        <div class="carousel-caption">
                            <h3>{{caroImg.slide}} slide label</h3>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <!---Prism Pre code-->
            <figure class="highlight mb-0" id="element1">
                <ul ngbNav #nav1="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="html-code"><i class="las la-code mr-2"></i> HTML</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="html1"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="html1" placement="top"
                                ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="html-code">TS</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="ts1"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="ts1" placement="top"
                                ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav1"></div>


            </figure>
            <!---Prism Pre code-->
        </div>
    </div>
</div>