<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0">Dropdowns</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fe fe-server mr-2 fs-14"></i>Elements</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)">Dropdowns</a></li>
        </ol>
    </div>
    <div class="page-rightheader">
        <div class="btn btn-list">
            <a href="javascript:void(0)" class="btn btn-info"><i class="fe fe-settings mr-1"></i> General Settings </a>
            <a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-printer mr-1"></i> Print </a>
            <a href="javascript:void(0)" class="btn btn-warning"><i class="fe fe-shopping-cart mr-1"></i> Buy Now </a>
        </div>
    </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Single button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div ngbDropdown class="btn-group mt-2 mb-2" *ngFor="let dropdown of dropdownsClass">
                            <button type="button" class="btn btn-{{dropdown.class}} dropdown-toggle" ngbDropdownToggle>
                                Action <span class="caret"></span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---Prism Pre code-->
            <figure class="highlight mb-0" id="element1">
                <ul ngbNav #nav1="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="html-code"><i class="las la-code mr-2"></i> HTML</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="html1"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="html1" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="html-code">TS</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="ts1"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="ts1" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav1"></div>
                

            </figure>
            <!---Prism Pre code-->
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Rounded button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div class="btn-group mt-2 mb-2" ngbDropdown *ngFor="let dropdown of dropdownsClass">
                            <button type="button" ngbDropdownToggle
                                class="btn btn-{{dropdown.class}} btn-pill dropdown-toggle">
                                Action <span class="caret"></span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            
            <!---Prism Pre code-->
            <figure class="highlight mb-0" id="element1">
                <ul ngbNav #nav2="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="html-code"><i class="las la-code mr-2"></i> HTML</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="html2"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="html2" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="html-code">TS</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="ts2"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="ts2" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav2"></div>
                

            </figure>
            <!---Prism Pre code-->
            
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Split button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div class="btn-group mt-2 mb-2" ngbDropdown *ngFor="let dropdown of dropdownsClass">
                            <button type="button" class="btn btn-{{dropdown.class}}">Action</button>
                            <button type="button" ngbDropdownToggle
                                class="btn btn-{{dropdown.class}} dropdown-toggle split-dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu ngbDropdownMenu role="menu">
                                <li ngbDropdownItem class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---Prism Pre code-->
            <figure class="highlight mb-0" id="element1">
                <ul ngbNav #nav3="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="html-code"><i class="las la-code mr-2"></i> HTML</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="html3"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="html3" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="html-code">TS</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="ts3"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="ts3" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav3"></div>
                

            </figure>
            <!---Prism Pre code-->
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Rounded Split button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div class="btn-group mt-2 mb-2" ngbDropdown *ngFor="let dropdown of dropdownsClass">
                            <button type="button" class="btn btn-pill btn-{{dropdown.class}}">Action</button>
                            <button type="button" ngbDropdownToggle
                                class="btn btn-pill btn-{{dropdown.class}} dropdown-toggle split-dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---Prism Pre code-->
            <figure class="highlight mb-0" id="element1">
                <ul ngbNav #nav5="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="html-code"><i class="las la-code mr-2"></i> HTML</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="html4"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="html4" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="html-code">TS</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="ts4"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="ts4" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav5"></div>
                

            </figure>
            <!---Prism Pre code-->
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Single Square outline button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div class="btn-group mt-2 mb-2" ngbDropdown *ngFor="let dropdown of dropdownsClass">
                            <button type="button" ngbDropdownToggle
                                class="btn btn-outline-{{dropdown.class}} dropdown-toggle">
                                Action <span class="caret"></span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---Prism Pre code-->
            <figure class="highlight mb-0" id="element1">
                <ul ngbNav #nav5="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="html-code"><i class="las la-code mr-2"></i> HTML</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="html5"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="html5" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="html-code">TS</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="ts5"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="ts5" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav5"></div>
                

            </figure>
            <!---Prism Pre code-->
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Rounded button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div class="btn-group mt-2 mb-2" ngbDropdown *ngFor="let dropdown of dropdownsClass">
                            <button type="button" ngbDropdownToggle
                                class="btn btn-outline-{{dropdown.class}} btn-pill dropdown-toggle">
                                Action <span class="caret"></span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---Prism Pre code-->
            <figure class="highlight mb-0" id="element1">
                <ul ngbNav #nav6="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="html-code"><i class="las la-code mr-2"></i> HTML</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="html6"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="html6" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="html-code">TS</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="ts6"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="ts6" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav6"></div>
                

            </figure>
            <!---Prism Pre code-->
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Split button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div class="btn-group mt-2 mb-2" ngbDropdown *ngFor="let dropdown of dropdownsClass">
                            <button type="button" class="btn btn-outline-{{dropdown.class}}">Action</button>
                            <button type="button" ngbDropdownToggle
                                class="btn btn-outline-{{dropdown.class}} dropdown-toggle">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up"></b>
                                </li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---Prism Pre code-->
            <figure class="highlight mb-0" id="element1">
                <ul ngbNav #nav7="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="html-code"><i class="las la-code mr-2"></i> HTML</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="html7"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="html7" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="html-code">TS</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="ts7"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="ts7" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav7"></div>
                

            </figure>
            <!---Prism Pre code-->
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Rounded Split button dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div class="btn-group mt-2 mb-2" ngbDropdown *ngFor="let dropdown of dropdownsClass">
                            <button type="button" class="btn btn-pill btn-outline-{{dropdown.class}}">Action</button>
                            <button type="button" ngbDropdownToggle
                                class="btn btn-pill btn-outline-{{dropdown.class}} dropdown-toggle">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem class="dropdown-plus-title">
                                    Dropdown
                                    <b class=" fa fa-angle-up"></b>
                                </li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---Prism Pre code-->
            <figure class="highlight mb-0" id="element1">
                <ul ngbNav #nav8="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="html-code"><i class="las la-code mr-2"></i> HTML</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="html8"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="html8" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="html-code">TS</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="ts8"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="ts8" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav8"></div>
                

            </figure>
            <!---Prism Pre code-->
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Dropup variation</h3>
            </div>
            <div class="card-body">
                <div ngbDropdown placement="top-left" container="body" class="btn-group mt-2 mb-2">
                    <button ngbDropdownToggle class="btn btn-primary dropdown-toggle" type="button">Dropup1
                        <span class="caret"></span></button>&nbsp;
                    <ul ngbDropdownMenu>
                        <li ngbDropdownItem><a href="javascript:void(0)">HTML</a></li>
                        <li ngbDropdownItem><a href="javascript:void(0)">CSS</a></li>
                        <li ngbDropdownItem><a href="javascript:void(0)">JavaScript</a></li>
                        <li class="divider"></li>
                        <li ngbDropdownItem><a href="javascript:void(0)">About Us</a></li>
                    </ul>
                </div>

                <!-- Split dropup button -->
                <div ngbDropdown placement="top-left" container="body" class="btn-group mt-2 mb-2">
                    <button ngbDropdownToggle class="btn btn-info dropdown-toggle" type="button">Dropup2
                        <span class="caret"></span></button>
                    <ul ngbDropdownMenu>
                        <li ngbDropdownItem><a href="javascript:void(0)">HTML</a></li>
                        <li ngbDropdownItem><a href="javascript:void(0)">CSS</a></li>
                        <li ngbDropdownItem><a href="javascript:void(0)">JavaScript</a></li>
                        <li class="divider"></li>
                        <li ngbDropdownItem><a href="javascript:void(0)">About Us</a></li>
                    </ul>
                </div>
            </div>
            <!---Prism Pre code-->
            <figure class="highlight mb-0" id="element1">
                <ul ngbNav #nav9="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="html-code"><i class="las la-code mr-2"></i> HTML</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="html9"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="html9" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="html-code">TS</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="ts9"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="ts9" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav9"></div>
                

            </figure>
            <!---Prism Pre code-->
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Icon Drop Downs dropdowns</h3>
            </div>
            <div class="card-body">
                <div class="panel panel-default">
                    <div class="panel-body p-0">
                        <div ngbDropdown class="btn-group mt-2 mb-2">
                            <button ngbDropdownToggle type="button" class="btn btn-facebook btn-pill dropdown-toggle">
                                <i class="fa fa-facebook"></i> <span class="caret"></span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>
                        <div ngbDropdown  class="btn-group mt-2 mb-2">
                            <button ngbDropdownToggle type="button" class="btn btn-twitter btn-pill dropdown-toggle">
                                <i class="fa fa-twitter"></i> <span class="caret"></span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem  class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li ngbDropdownItem ><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem ><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem ><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem ><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>
                        <div ngbDropdown class="btn-group mt-2 mb-2">
                            <button ngbDropdownToggle type="button" class="btn btn-google btn-pill dropdown-toggle">
                                <i class="fa fa-google"></i> <span class="caret"></span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>
                        <div ngbDropdown class="btn-group mt-2 mb-2">
                            <button ngbDropdownToggle type="button" class="btn btn-youtube btn-pill dropdown-toggle">
                                <i class="fa fa-youtube "></i><span class="caret"></span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>
                        <div ngbDropdown class="btn-group mt-2 mb-2">
                            <button ngbDropdownToggle type="button" class="btn btn-vimeo btn-pill dropdown-toggle">
                                <i class="fa fa-vimeo"></i><span class="caret"></span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>
                        <div ngbDropdown class="btn-group mt-2 mb-2">
                            <button ngbDropdownToggle type="button" class="btn btn-github btn-pill dropdown-toggle">
                                <i class="fa fa-github"></i> <span class="caret"></span>
                            </button>&nbsp;
                            <ul ngbDropdownMenu role="menu">
                                <li ngbDropdownItem class="dropdown-plus-title">
                                    Dropdown
                                    <b class="fa fa-angle-up" aria-hidden="true"></b>
                                </li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Another action</a></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Something else here</a></li>
                                <li class="divider"></li>
                                <li ngbDropdownItem><a href="javascript:void(0)">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---Prism Pre code-->
            <figure class="highlight mb-0" id="element1">
                <ul ngbNav #nav10="ngbNav" class="nav nav-tabs">
                    <li [ngbNavItem]="1">
                        <a ngbNavLink class="html-code"><i class="las la-code mr-2"></i> HTML</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="html10"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="html10" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink class="html-code">TS</a>
                        <ng-template ngbNavContent>
                            <pre><code [highlight]="ts10"></code></pre>
                            <div ngxClipboard class="clipboard-icon" [cbContent]="ts10" placement="top" ngbTooltip="Copy To Clipboard"><i class="las la-paste"></i></div>
                        </ng-template>
                    </li>
                </ul>
                <div [ngbNavOutlet]="nav10"></div>
                

            </figure>
            <!---Prism Pre code-->
        </div>
    </div>
</div>