<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0">Notifications</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fe fe-grid mr-2 fs-14"></i>Apps</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)">Notifications</a></li>
        </ol>
    </div>
    <div class="page-rightheader">
        <div class="btn btn-list">
            <a href="javascript:void(0)" class="btn btn-info"><i class="fe fe-settings mr-1"></i> General Settings </a>
            <a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-printer mr-1"></i> Print </a>
            <a href="javascript:void(0)" class="btn btn-warning"><i class="fe fe-shopping-cart mr-1"></i> Buy Now </a>
        </div>
    </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row">
    <div class="col-md-12">
        
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Side Alerts Notifications</h3>
            </div>
            <div class="card-body">
                <div class="btn-list">
                    <button class="btn btn-primary" (click)="OnDefault()">Default</button>
                    <button class="btn btn-info" (click)="OnInfo()">Info</button>
                    <button class="btn btn-success" (click)="OnSuccess()">Success</button>
                    <button class="btn btn-warning" (click)="OnWarning()">Warning</button>
                    <button class="btn btn-danger" (click)="OnError()">Error</button>
                </div>
            </div>
            <notifier-container></notifier-container>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Alerts Popovers</h3>
            </div>
            <div class="card-body">
                <div class="btn-list">
                <button type="button" class="btn btn-success mr-2" container="body" 
                    placement="bottom" popoverTitle="alert sucess"
                    ngbPopover="Well done! You successfully read this important alert message..">
                    Show success
                </button>
                <button type="button" class="btn btn-info mr-2" container="body" 
                    placement="top" popoverTitle="alert info"
                    ngbPopover="Heads up! This alert needs your attention, but it's not super important...">
                    Show info
                </button>
                <button type="button" class="btn btn-warning mr-2" container="body" 
                    placement="bottom" popoverTitle="alert warning"
                    ngbPopover="Warning! Best check yo self, you're not looking too good..">
                    Show warning
                </button>
                <button type="button" class="btn btn-secondary mr-2" container="body" 
                    placement="top" popoverTitle="alert secondary"
                    ngbPopover="Error! Please Check u r emial id..">
                    Show secondary
                </button>
                <button type="button" class="btn btn-danger mr-2" container="body" 
                    placement="bottom" popoverTitle="alert danger"
                    ngbPopover="Oh snap! Change a few things up and try submitting again.">
                    Show danger
                </button>
                <button type="button" class="btn btn-primary mr-2" container="body" 
                    placement="top" popoverTitle="alert primary"
                    ngbPopover="Cool! This alert will close in 3 seconds. The data-delay attribute is in milliseconds.">
                    Show primary
                </button>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->