<!--Page header-->
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0">Images-Crop</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fe fe-grid mr-2 fs-14"></i>Apps</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="javascript:void(0)">Images-Crop</a></li>
        </ol>
    </div>
    <div class="page-rightheader">
        <div class="btn btn-list">
            <a href="javascript:void(0)" class="btn btn-info"><i class="fe fe-settings mr-1"></i> General Settings </a>
            <a href="javascript:void(0)" class="btn btn-danger"><i class="fe fe-printer mr-1"></i> Print </a>
            <a href="javascript:void(0)" class="btn btn-warning"><i class="fe fe-shopping-cart mr-1"></i> Buy Now </a>
        </div>
    </div>
</div>
<!--End Page header-->

<!-- Row -->
<div class="row mt-5" id="app">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Image Crop</div>
            </div>
            <div class="card-body p-0">

                <div class="row">
                    <div class="col-md-7 col-lg-6">
                        <div class="p-5 border-right">
                            <angular-cropper #angularCropper [cropperOptions]="config" (export)="resultImageFun($event)"
                                (ready)="checkstatus($event)" [imageUrl]="imageUrl"></angular-cropper>
                            <br><br>
                            <button type="button" class="btn btn-primary" (click)="CropMe()">CropMe</button>
                            <!-- <button type="button" class="btn btn-primary" (click)="Zoom()">Zoom</button> -->
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-6 pr-5">
                        <img [src]="resultImage" />
                        <br>
                        <img [src]="resultResult" />
                    </div>
                </div>
                <div class="row" id="actions">

                </div>

            </div>
        </div>
    </div>
</div>