<div class="container3">
  <div class="left-section3">
    <h3 class="title3">Container Title</h3>
    <p class="date">Date: 01/01/2023</p>
  </div>
  <div class="divider"></div>
    <div class="divider-content">
      <h3 class="divider-title">Divider Title</h3>
      <p class="divider-text">Divider Text</p>
    </div>
  <div class="right-section3">
    
    <div style="margin-top: 10px;">
      <img style="margin-right: 10px;" width="30px" height="30px" src="./assets/images/facture/clip.png" alt="Clip Icon">
      <img class="plus-icon" width="30px" height="30px" src="./assets/images/facture/img.png" alt="Image Icon">
    </div>
    <div class="right3" style="text-align: right;">
      <h3 class="title3">Container Title</h3>
      <p class="date">Date: 01/01/2023</p>
    </div>
    <p style="margin-left: 5px; margin-right: 5px;"></p>
    <button class="button-1">
      <img class="plus-icon" width="25px" height="25px" src="./assets/images/facture/pen.png" alt="Pen Icon">
    </button>
    <p style="margin-left: 5px; margin-right: 5px;"></p>
    <button class="button-1">
      <img class="plus-icon" width="25px" height="25px" src="./assets/images/facture/delete.png" alt="Delete Icon">
    </button>
  </div>
</div>
