<div class="container" style="max-width: 100%;">
    <div class="header">
        <span class="resume">Résumé</span>
    </div>
    <div class="content">
        <div class="left-section">
            <div>
                <span class="text">Frais Réels </span>
                <span class="price">{{forf.sum}}</span>
                <span class="price">$ </span>
            </div>
            <div>
                <span class="text">Total :</span>
                <span class="price">{{forf.sum}} </span>
                <span class="price">$ </span>
            </div>
            <div>
                <span class="text">Avance a rependre :</span>
                <span class="price">{{forf.avance}} </span>
                <span class="price">$ </span>
            </div>
        </div>
        <div class="right-section">
            <div>
                <span class="text">A régler :</span>
                <span class="price">{{forf.tobepayed}} </span>
                <span class="price">$ </span>
            </div>
            <div>
                <span class="text">Payé :</span>
                <div class="toggle-switch" [class.checked]="isChecked" (click)="toggleSwitch()">
                    <div class="slider"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
